*{
    margin: 0px;
    padding: 0px;
}
.firstcont{
    height: 200px;
width: 100%;
background-color: aquamarine;
display: flex;
justify-content:center;
align-items: center;


}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    position: relative;
    left: 216px;
}
.component{
    position: relative;
    right: 102px;
}
.component >h1{
    height: 20px;
    width: 20px;
    background-color: black;
    color: whitesmoke;
    display: inline;
    padding: 10px 5px 10px 5px;
}
.component h2{
    display: inline-block;
margin-bottom: 0px;
margin-top:0px ;
}
.component p{
    margin-top: 0px;
    font-size: 10px;
    margin-left: 50px;
}
.maincontainer{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
column-gap: 10px;

}
.maincontainer  h1{
    font-weight: 100;
}
.g {
    display: flex;
    column-gap: 10px;
    color: whitesmoke;
    justify-content: center;
    background-color: rgb(240, 93, 2);
    height: 40px;
    width: 100px;
    border-radius: 5px;

}

.text-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    row-gap: 2px;
}
.pars{
  padding: 40px;
    font-size: 20px;
    height: 180px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  margin: 0px auto;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
    text-indent: 50px;
    width: 800px;
    
    
}
input{
    background-color: rgba(50, 50, 210, 0.817);
    text-decoration-color: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
}input:hover{
    background-color: rgb(19, 19, 232);
    text-decoration-color: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.containerpack{
    margin: 0px auto;
    
    height: 1000px;
    width: 80vw;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px 200px;
    gap: 40px 40px;
    
}
.packs{
    border-radius: 20px;
    margin: 20px;
height: 220px;
width: 300px;
background-color: rgba(0, 255, 174, 0.416);
display: grid;
grid-template-columns: 120px 120px ;
grid-template-rows: 70px 150px;
justify-content: center;
align-items: center;

}
.packs:hover{
    border-radius: 20px;
    margin: 20px;
height: 220px;
width: 300px;
background-color: rgba(0, 255, 255, 0.76);
display: grid;
grid-template-columns: 120px 120px ;
grid-template-rows: 70px 150px;
justify-content: center;
align-items: center;
transform: scaleX(1.1);

}
.content{
    grid-area: 1/2;
    position: relative;
    right: 50px;
    top: 20px;
    font-weight: 600;
    font-size: x-large;
}
.button1{
    background-color: rgba(0, 0, 255, 0.537);
    padding: 4px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    position: relative;
    right: 10px;
    grid-area: 2/1;
    width: 100px;
    position: relative;
    left: 10px;
    top: 10px;
    text-align: center;
}
.button1:hover{
    background-color: rgba(0, 0, 255, 0.934);
    padding: 4px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    position: relative;
    right: 10px;
    grid-area: 2/1;
    width: 100px;
    position: relative;
    left: 10px;
    top: 10px;
    cursor: pointer;
    transform: scale(0.9);
}
.b1{
    grid-area: 2/2;
    background-color: rgba(18, 141, 31, 0.731);
}
.b1:hover{
    background-color: rgba(18, 141, 30, 0.975);
    grid-area: 2/2;
}
@media  screen and ( max-width:510px) {
    .containerpack{
        margin: 0px auto;
        
        height: 1000px;
        width: 80vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        
    }
    
}

